---
import Layout from "../layouts/Layout.astro";

import Pokebox from "../components/Pokebox.astro";
import Gameboard from "../components/Gameboard/Gameboard";
import Info from "../components/Info/Info";
import Stats from "../components/Stats/Stats";

import poke_data from "../data/poke_data.json";
import romanize from "../util/romanize";

import { MdLeaderboard } from "react-icons/md/index.esm.js";
import { FaRegQuestionCircle } from "react-icons/fa/index.esm.js";

const text = "#FFFFFF";
const background = "#131F22";
const primary = "#FFC800";
const secondary = "#202F36";
const secondary_light = "#596669";
const accent = "#AA572A";

let origin_time = new Date("8/1/2023");

let current_time = new Date();

let day_idx = Math.floor(
    (current_time.getTime() - origin_time.getTime()) / (1000 * 3600 * 24)
);

let curr_pokemon = poke_data[day_idx];
let pokemon_list = poke_data.map((pokemon) => pokemon.name);
console.log("Day:", day_idx);
console.log(origin_time.toLocaleString(), current_time.toLocaleString());
---

<Layout title="squirdle">
    <header>
        <MdLeaderboard id="stats-button" className="header-button" />
        squirdle
        <FaRegQuestionCircle id="info-button" className="header-button" />
    </header>
    <main>
        <Pokebox
            id={curr_pokemon.id}
            gen={romanize(curr_pokemon.gen)}
            species={curr_pokemon.species}
            height={curr_pokemon.height}
            weight={curr_pokemon.weight}
            types={curr_pokemon.types}
        />
        <Gameboard
            dayOffset={day_idx}
            currPokemon={curr_pokemon.name}
            pokeList={pokemon_list}
            client:only="react"
        />
        <Info client:only="react" />
        <Stats client:only="react" />
    </main>
</Layout>

<style
    define:vars={{
        text,
        background,
        primary,
        secondary,
        secondary_light,
        accent,
    }}
>
    @import url("https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold");

    * {
        box-sizing: border-box;
    }
    header {
        padding: 1.2vh;
        font-size: 2rem;
        font-weight: 500;
        font-family: "Feather Bold";
        color: var(--primary);
        text-align: center;
        background-color: var(--secondary);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-button {
        margin-left: 0.15rem;
        margin-right: 0.15rem;
        cursor: pointer;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid var(--secondary);
        padding: 0;
    }
    main {
        margin: 0;
        padding: 0;
        max-width: 100vw;
        background-color: var(--background);
        color: var(--text);
        display: flex;
        flex-direction: column;
    }
    @media screen and (min-width: 1024px) {
        header {
            font-size: 1.8rem;
        }
        main {
            max-width: 32vw;
            margin: auto;
        }
        .header-button {
            margin-left: 15rem;
            margin-right: 15rem;
        }
    }
</style>
